bin/Debug/net7.0/betacrew-aditya.dll
bin/Debug/net7.0/betacrew-aditya.pdb
obj/Debug/net7.0/betacrew-aditya.assets.cache
obj/Debug/net7.0/betacrew-aditya.dll
obj/Debug/net7.0/betacrew-aditya.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/betacrew-aditya.pdb
