bin/Debug/net7.0/betacrew-aditya.dll
bin/Debug/net7.0/betacrew-aditya.pdb
obj/Debug/net7.0/betacrew-aditya.assets.cache
obj/Debug/net7.0/betacrew-aditya.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/betacrew-aditya.assets.cache
obj/Debug/net7.0/betacrew-aditya.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net7.0/betacrew-aditya.deps.json
bin/Debug/net7.0/betacrew-aditya.dll.config
bin/Debug/net7.0/betacrew-aditya.exe
bin/Debug/net7.0/betacrew-aditya.runtimeconfig.json
bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/Newtonsoft.Json.dll
bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
bin/Debug/net7.0/System.Diagnostics.EventLog.dll
bin/Debug/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/System.Security.Permissions.dll
bin/Debug/net7.0/System.Windows.Extensions.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/Microsoft.Win32.SystemEvents.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Diagnostics.EventLog.Messages.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Drawing.Common.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/net7.0/runtimes/win/lib/net7.0/System.Windows.Extensions.dll
obj/Debug/net7.0/betacrew-aditya.AssemblyInfo.cs
obj/Debug/net7.0/betacrew-aditya.AssemblyInfoInputs.cache
obj/Debug/net7.0/betacrew-aditya.assets.cache
obj/Debug/net7.0/betacrew-aditya.csproj.AssemblyReference.cache
obj/Debug/net7.0/betacrew-aditya.csproj.CopyComplete
obj/Debug/net7.0/betacrew-aditya.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/betacrew-aditya.csproj.FileListAbsolute.txt
obj/Debug/net7.0/betacrew-aditya.genruntimeconfig.cache
obj/Debug/net7.0/ref/betacrew-aditya.dll
obj/Debug/net7.0/refint/betacrew-aditya.dll
obj/Debug/net7.0/betacrew-aditya.assets.cache
obj/Debug/net7.0/betacrew-aditya.dll
obj/Debug/net7.0/betacrew-aditya.pdb
